<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.zfdang.zsmth_android"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.VIBRATE" android:maxSdkVersion="18"/>
    <!-- <uses-permission android:name="android.permission.CAMERA" /> -->

    <!-- permissions for shareSDK -->
    <uses-permission android:name="android.permission.GET_TASKS"/>
    <!-- <uses-permission android:name="android.permission.INTERNET" /> -->
    <!-- <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" /> -->
    <!-- <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <!-- <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> -->
    <!-- <uses-permission android:name="android.permission.READ_PHONE_STATE" /> -->
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>

    <application
        android:name="com.zfdang.SMTHApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login"/>
        <activity
            android:name=".BoardTopicActivity"
            android:label="@string/title_topic_list"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".PostListActivity"
            android:label="@string/title_topic_detail"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".ComposePostActivity"
            android:label="@string/title_activity_compose_post"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".QueryUserActivity"
            android:label="@string/title_activity_query_user"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <!-- full screen activities -->
        <activity
            android:name=".FSImageViewerActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_fullscreen_image_viewer"
            android:theme="@style/FullscreenTheme">
        </activity>

        <!-- External activities -->
        <activity
            android:name="com.zfdang.multiple_images_selector.ImagesSelectorActivity"
            android:configChanges="orientation|screenSize"/>

        <!-- shareSDK activity -->
        <activity
            android:name="com.mob.tools.MobUIShell"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <intent-filter>
                <data android:scheme="tencent100371282"/>

                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.BROWSABLE"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>

            <!-- 调用新浪原生SDK，需要注册的回调activity -->
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <!-- 微信分享回调 -->
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>

        <!-- service -->
        <service
            android:name=".services.MaintainUserStatusService"
            android:exported="false"/>

        <!-- meta-data for umeng -->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="56e8c05567e58e0a9e0011cc"/>
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="ZFDANG"/>

        <activity
            android:name=".MailContentActivity"
            android:label="@string/title_activity_mail_content"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
    </application>

</manifest>
